//基本匯入
@import "../node_modules/bootstrap/scss/functions";
@import "helpers/variables";
@import "../node_modules/bootstrap/scss/bootstrap";

//(顏色控管)
$light:       #9B9B9B;
$brighter:    #FFFFFF;
$dark:        #000000;
$bodyColor:   #F2F2F2;
$revenueColor:#7ED321;
$costColor:   #D0021B;
$incomeColor: #4A90E2;

//Layout
html body{
    font-family: Oxygen,Anton,"微軟正黑體",serif;
    background-color: $bodyColor;
}
/*-通用類別-*/
/*---開版大小---*/
.model{
    position: relative;
    padding: 0 42px;
    max-width: 1024px;
    margin: 0px auto;
}
.clearfix:after{
    content: "";
    display: table;
    clear: both;
}
/*---input設定---*/
input[type="checkbox"]{
    width: 20px;
    height: 20px;
}
/*---導覽列---*/
.navbar-brand{
    line-height: 29px;
}
.nav-link{
    border-bottom: 4px solid rgba(0, 0, 0, 0);
    line-height: 20px;
}
.nav-item:hover > .nav-link{
    color: $brighter !important;
}
.nav-item:hover{
    border-bottom: 4px solid $brighter;
}
.navactived{
    color: $brighter !important;
    border-bottom: 4px solid $brighter;
}
.navactived >.nav-link{
    color: $brighter !important;
}
.navbar-toggler .navbar-toggler-icon{
    background-image: url("data:image/svg+xml;charset=utf8,<svg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'><path stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/></svg>");
}
.admin{
    color: $brighter;

}
.admin:hover{
    color:  darken( $brighter,30%);
    text-decoration: none;
}

//index內容(HOME主頁)
.dropdown-toggle.weekly-btn{
    padding: 0;
    background-color: rgba(247, 247, 247, 0);
}
.dateControl{
    position: absolute;
    right: 0;
}
.dateStart::after{
    margin-left: 8px;
    content: "►"
}
.dateSelect{
    position: relative;
    padding: 0rem 0rem;;
    border: none;
}
.dateSelect option{
    position: absolute;
    
}
.totalCard{
    padding: 30px 0;
}
.totalCard p{
    font-size: 36px;
}
.revenueValue{
    margin-top: 11px;
    margin-bottom: 0;
    color: $revenueColor;
}
.costValue{
    margin-top: 11px;
    margin-bottom: 0;
    color: $costColor;
}
.incomeValue{
    margin-top: 11px;
    margin-bottom: 0;
    color: $incomeColor;
}
.activityArea{
    padding-right: 40px;
    padding-left: 40px;
}
#totalChart .c3-circle {
    font-size: 16px !important;
    stroke-width: 2;
    fill: $brighter !important;
}
#totalChart text{
    font-size: 16px !important;
}
.c3-target-REVENUE{
    stroke: $revenueColor;
}
.c3-target-REVENUE ._expanded_{
    stroke: $revenueColor !important;
}
.c3-target-COST{
    stroke: $costColor;
}
.c3-target-COST ._expanded_{
    stroke: $costColor !important;
}
.c3-target-INCOME{
    stroke: $incomeColor;
}
.c3-target-INCOME ._expanded_{
    stroke: $incomeColor !important;
}
.c3-target-CUSTOM{
    stroke: #F5A623;
}
.c3-target-CUSTOM ._expanded_{
    stroke: #F5A623 !important;
}
.transactionItem{
    padding-right: 0;
    padding-left: 0;
}
.transactionCard .transactionItem:nth-child(1){
    border-top: 0;
}
.transactionItem i{
    margin-bottom: 0rem ;
}
.transactionItem p{
    margin-bottom: 0;
}
.fa-arrow-up{
    color: $revenueColor;
}
.fa-arrow-down{
    color: $costColor;
}
/*---數值狀態彈跳視窗---*/
.transaction_increaseValue{
    position: relative;
    cursor: pointer;
    transition: all 0.1s;
}
.transaction_increaseValue:hover .increaseValue_item{
    display: block;
}
.increaseValue_item{
    display: none;
    z-index: 5;
    text-align: center;
    white-space:nowrap;
    position: absolute;
    background: $dark;
    border-radius: 3px;
    top: -110px;
    transform: translateX(-40%);
}
.increaseValue_item::after{
    content: "";
    position: absolute;
    bottom: 0;
    transform: translate(-50%,100%);
    border-width: 5px;
    border-color: transparent;
    border-style: solid;
    border-top-color: $dark;
}
/*--(最新消息)主頁下方右邊區域--*/
.latestCard .latestItem:nth-child(1){
    border-top: 0;
}
.latestCard .latestItem:nth-last-child(1){
    padding-bottom: 15px !important;
}
.picTitle{
    position: relative;
    height: 100%;
}
.picTitleName{
    margin-bottom: 0;
}
//ORDERS頁面
/*---tag選擇---*/ /*--通用類別--*/
.tagFilter{
    position: relative;
    z-index: 10;
    cursor: pointer;
}
.tagArea{
    display: none;
    z-index: 10;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 26px;
    list-style: none;
    white-space: nowrap;
    background: $brighter;
    box-shadow: 1px 2px 10px 0 $light;
    border-radius: 2px;
}
.tagItem{
    padding: 16px 0px;
    cursor: pointer;
    transition: all 0.1s;
}
.tagItem:hover{
    background-color: $dark;
    a{
        color: $brighter;
    }
}
.tagItem a{
    color: $dark;
    padding: 16px 20px;
}
.tagItem a:hover{
    text-decoration:none !important;
}
/*---data選擇---*/
.dateFilter{
    position: relative;
    float: right;
}
.dateFilter span{
    cursor: pointer;
}
.dateArea{
    display: none;
    z-index: 10;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 35px;
    list-style: none;
    white-space: nowrap;
    background: $brighter;
    box-shadow: 1px 2px 10px 0 $light;
    border-radius: 2px;
}
.datePageNumber{
    // position: relative;
    // display: block;
    // padding: 0.5rem 0.75rem;
    // margin-left: -1px;
    // line-height: 1.25;
    color: $dark;
    background-color: $brighter;
    // border: 1px solid #dee2e6;
}
.datePageNumber:hover{
    background-color: $dark;
    color: $brighter;
}
.datePageNumberAtcived{
    background-color: $dark;
    color: $brighter;
}
//PRODUCT頁面
/*---tag提示按鈕---*/ /*--通用類別--*/
.tagFilterPrompt{
    position: relative;
    transition: all 0.1s;
}
.tagFilterPromptText{
    display: none;
    padding: 4px 8px;
    font-size: 14px;
    line-height: 21px;
    color: $brighter;
    position: absolute;
    z-index: 5;
    text-align: center;
    white-space:nowrap;
    background: $dark;
    border: 1px solid $dark;
    border-radius: 2px;
    top: 15px;
    transform: translateX(-39%);
}
.tagFilterPromptText:before{
    content: "";
    position: absolute;
    bottom: 0;
    transform: translate(400%,-300%);
    border-width: 5px;
    border-color: transparent;
    border-style: solid;
    border-bottom-color: $dark;
}
/*--tag提示按鈕--*/
.tagFilter:hover .tagFilterPromptText{
    display: block;
}
/*---新增商品按鈕---*/
.addNewProduct{
    float: right;
    padding: 8px 16px;
    line-height: 18px;
    font-weight: 500;
    font-size: 14px;
    color: $brighter;
    background: $dark;
    border: 1px solid $dark;
    border-radius: 4px;
    transition: all 0.1s;
}
.addNewProduct:hover{
    color: $dark;
    background: $brighter;
    border-radius: 4px;
}
.addNewProduct:focus{
    outline:none
}
.addNewProduct:active{
    color: $brighter;
    background: $dark;
}
/*---產品表格調整---*/
.productInformation p{
    margin-bottom: 16px;
}
.productInformation p:nth-last-child(1){
    margin-bottom: 0px;
}
.ordersTd{
    line-height: 100px;
}
/*---新增商品效果跟區域---*/
.cover{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.addProductPage{
    width: 91.7%;
    max-width: 940px;
    background: $brighter;
    border-radius: 4px;
    position: relative;
    top: 50%;
    left: 50%;
    overflow: hidden;
    transform: translate(-50%, -50%);
}
.closePage{
    float: right;
    color: $brighter;
}
.closePage:hover{
    color: darken($color: $brighter, $amount: 50);
}
/*---upload區(圖片)---*/
.addProductPage-img{
    width: 50%;
    display: inline-block;
}
.addProductPage-upload{
    position: relative;
    padding: 25px 45px;
    border-radius: 4px;
    border: 1px dashed $light;
    background-color: #e9eaeb;
    cursor: pointer;
}
.addProductPage-upload-img span{
    font-size: 33px;
}
.addProductPage-upload-input{
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
}
.addProductPage-upload-input input[type="file"]{
    line-height: 6.5;
    width: 100%;
    cursor: pointer;
    opacity: 0;
    visibility: visible !important;

}
.addProductPage-loadedImg{
    margin-bottom: 4px;
}
/*---upload區(文字)---*/
.addProductPage-upload-text{
    display: inline-block;
    float: right;
    width: 50%;
}
.addProductPage-upload-text input[type="text"]{
    background: $brighter;
    padding-left: 8px;
    width: 100%;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
}
.addProductPage-upload-text textarea{
    background: $brighter;
    padding-left: 8px;
    width: 100%;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    resize : none;
}
.addProductPage-input-row{
    display: flex;
    .input-box{
        white-space: nowrap;
        padding: 5px 8px;
        background-color: #e9eaeb;
        border: 1px solid #c8c8c8;
        border-right: none;
        border-radius: 4px 0 0 4px;
        color: #394959;
        user-select: none;
    }
    input[type="text"]{
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
    }
    input[type="number"]{
        background: $brighter;
        padding-left: 8px;
        width: 100%;
        border: 1px solid #CCCCCC;
        border-radius: 4px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
    }
}
.addProductPage-addBtn{
    cursor: pointer;
    background-color:$dark ;
    color: $brighter;
    width: 100%;
    border: 1px solid $dark;
    border-radius: 4px;
    transition: all 0.1s;
    &:hover{
        color: $dark;
        background-color: $brighter;
    }
    &:active{
        color: $brighter;
        background-color: $dark;
    }
}